h1{
    color:white;
}
.garis{
    display:flex;
    height:30vh;
    margin-bottom: 1%;
    margin-top: 1%;
}
.garis .wrapper{
    display:block;
    height:100%;
    width:40%;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    background-color: #0004;
    border-radius: 17px;
    text-decoration: none;
}
.garis .wrapper h2{
    text-align: center;
    margin-top: 14%;
    text-decoration: none;
}
.garis .wrapper:hover{
    background-color: green;
    color: white;
  
}